.notification {
  position: relative;
  display: flex;
  align-items: start;
  gap: 13px;
  padding: 16px 16px;
}

.unread {
  background: #f7fafd;
  border-radius: 8px;
}

.comment__section {
  display: flex;
  gap: 27px;
}

.person__image {
  width: 39px;
  height: 39px;
}

.person__text {
  text-decoration: none;
  font-size: 14px;
  color: #1c202b;
  font-weight: 800;
  line-height: 18px;
  transition: color;
  transition-duration: 1s;
}

.person__text:hover {
  color: #0a327b;
  transition: color;
  cursor: pointer;
  transition-duration: 1s;
}

.reaction__text {
  font-size: 14px;
  color: #5e6778;
  font-weight: 500;
  line-height: 18px;
}

.reaction__post {
  text-decoration: none;
  transition: color;
  transition-duration: 1s;
  font-weight: 700;
}

.reaction__post:hover {
  color: #0a327b;
  transition: color;
  transition-duration: 1s;
}

.reaction__group {
  text-decoration: none;
  font-weight: 700;
  color: #0a327b;
}

.unread__mark {
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 1px;
  width: 8px;
  height: 8px;
  background: #f65552;
  border-radius: 50%;
}

.timestamp {
  color: #939cad;
  padding-top: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.comment__timestamp {
  position: absolute;
  bottom: 0px;
}

.message__box {
  margin-left: 68px;
  margin-right: 12px;
  padding: 16px;
  border: 1px solid #dde7ee;
  border-radius: 5px;
  transition: background;
  transition-duration: 1s;
  margin-bottom: 16px;
}

.message__box:hover {
  background: #e5effa;
  transition: background;
  transition-duration: 1s;
  cursor: pointer;
}

.message__box p {
  color: #5e6778;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.notification__message {
  padding-bottom: 0;
}

@media screen and (min-width: 475px) {
  .comment__timestamp {
    bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .notification {
    padding: 18px 20px;
    gap: 19px;
  }

  .comment__section {
    gap: 182px;
  }
  .person__image {
    width: 45px;
    height: 45px;
  }

  .person__text {
    font-size: 16px;
    line-height: 20px;
  }
  .reaction__text {
    font-size: 16px;
    line-height: 20px;
  }

  .reaction__post,
  .reaction__group {
    font-weight: 800;
  }

  .timestamp {
    font-size: 16px;
    line-height: 20px;
  }

  .message__box {
    margin-left: 84px;
    margin-right: 20px;
    padding: 17px 20px 20px 20px;
    margin-bottom: 18px;
  }
  .message__box p {
    font-size: 16px;
    line-height: 20px;
  }

  .notification__message {
    padding-bottom: 0;
  }

  .comment__timestamp {
    bottom: 22px;
  }
}
